*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.btn-template{
	display: block;
    width: 100px;
    margin: 0 auto;
	background-color: #3649e8;
	color: #fff;
	border:none;
	padding: 10px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 12px;
	border-bottom: 3px solid #5876d9;
	transition: 0.3s;
	&:hover{
		background-color: #5876d9;
		border-bottom-color: #7692ed;
	}
}
.clearfix{
    position: relative;
    clear: both;
}
.grid{
    display: block;
    padding: 15px 0px;
    .pull_left{
        float: left;
        width: 50%;
        padding-right: 15px;
    }
    .pull_right{
        float: left;
        width: 50%;
        padding-left: 15px;
    }
    p.label{
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}
.global_container{
	width: 400px;
	padding: 30px;
    background-color: #393939;
    #percentage_form{
        display: block;
        width: 80%;
        margin: 0 auto;
        input{
            width: 100%;
            background-color: transparent;
            border:none;
            outline: none;
            box-shadow: none;
            height: 40px;
            color: #fff;
            border-bottom: 2px solid #fff;
            &.full_width{
                display: block !important;
                width: 100%;
            }
            &::-webkit-input-placeholder{
                color: #fff;
            }
        }

    }
}
