*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: "Halvetica",sans-serif !important;
}
.btn-template{
	display: block;
    width: 100px;
	background-color: #3649e8;
	color: #fff;
	border:none;
	padding: 10px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 12px;
	border-bottom: 3px solid #5876d9;
	transition: 0.3s;
	&:hover{
		background-color: #5876d9;
		border-bottom-color: #7692ed;
	}
}
.clearfix{
    position: relative;
    clear: both;
}
.grid{
    display: block;
    padding-bottom: 30px;
    .pull_left{
        float: left;
        width: 50%;
        padding-right: 15px;
    }
    .pull_right{
        float: left;
        width: 50%;
        padding-left: 15px;
    }
    p.label{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px ;
        font-size: 12px;
        color: #ffc400;
        font-weight: bold;
        
    }
}
.global_container{
	width: 450px;
    background-color: #1b1f34;
    .extension_title{
        color: #ffc400;
        text-align: center;
        padding-top: 30px;
        font-family:cursive;
        font-weight: bold;
    }
    .form_container{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
    }
    #percentage_form{
        padding: 20px;
        margin-bottom: 30px;
        background-color: #242943;
        input{
            width: 100%;
            background-color: transparent;
            border:none;
            outline: none;
            box-shadow: none;
            height: 40px;
            color: #fff;
            border-bottom: 2px solid #fff;
            transition: 0.3s ease;
            &.full_width{
                display: block !important;
                width: 100%;
            }
            &::-webkit-input-placeholder{
                color: #fff;
            }
            &.inline_input{
                display: inline-block;
                width: auto !important;
            }
            &:focus{
                border-bottom-color: #49e868;
            }
        }
        label{
                display: inline-block;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
        }
        .min_price{
            padding-bottom: 30px;
            label{
                color: #ffc400;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
            }
            input{
                width: 50px !important;
                text-align: center;
                font-weight: bold;
                font-size: 16px;
            }
            span{
                font-weight: bold;
                color: #ffc400;
                font-size: 18px;
            }
        }
        .checkbox_view{
            padding: 30px 0px;
            input#exists{
                display: none;
            }
            p.desc{
                display: inline-block;
                color: #fff;
                margin-left: 15px;
                font-size: 14px;
                font-weight: bold;
            }
            label{
                margin-left: 0;
                i{
                    background-color: transparent;
                    border: none;
                    outline:none;
                    box-shadow: none;
                    font-size: 18px;
                    color: #d85252;
                    
                }
                &.active_check{
                    i{
                        color: #44db84;
                    }
                }
            }
        }
    }
}
